@use "./palette.scss";

.game {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 310px;
  padding: 4px;

  background: palette.$terra-cotta;
  color: palette.$gunmetal;

  button {
    color: palette.$gunmetal;
  }
}
