@use "./palette.scss";

.info {
  margin-left: 6px;
  text-align: center;
  width: 100%;

  display: flex;
  flex-flow: column;

  & * {
    background: palette.$tumbleweed;
  }

  .turns {
    padding: 2px;
    margin: 0;
    width: 100%;
    flex: 1;

    li {
      list-style: none;
      width: 100%;

      &.current {
        font-weight: bold;
      }

      button {
        background: transparent;
        transition: background 100ms ease-in-out;
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        padding: 5px;

        &:hover {
          background: palette.$terra-cotta;
        }
      }
    }
  }

  .status {
    margin-top: 4px;
    padding: 5px;
    font-weight: 500;
  }
}
